* {
margin: 0;
padding: 0;
}

body {
    font-family: 'Bangers', cursive;
    font-size: 50px;
}

.whackamole {
    text-align: center; 
}

.whackamole .board {
    margin: 30px auto;
    display: table;
}
  
.whackamole .cell {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    background-color:silver);
}
  
.whackamole button.active {
    color: purple ;
}
  
.whackamole .cell.active {
    background-color: green;
}
  
.whackamole .cell.player {
    background-color: darkblue;
}
  
.whackamole .cell.computer {
    background-color: red;
}

.difficulty-btn,.new-game-btn {
    border: 2px solid black;
    font-family: 'Bangers', cursive;
    font-size: 24px;
    padding: 8px 15px;
    margin-right: 20px;
    margin-bottom: 30px;
} 

.new-game-btn {
    margin-right: 0;
}

.player-score {
    margin-right: 30px;
}

.computer-score {
    margin-right: 30px;
}
