* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #fff;
    min-width: 375px;
    overflow-x: hidden;
}
.wrapper {
    background-color: rgb(21, 22, 22);
}

.header {
    display: flex;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item {
    margin-left: 89px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.main {
    margin: 0 auto;
}


@media (max-width: 950px) {
    .logo img {
        width: 75px;
        height: 51px;
    }
    .header-container {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 5px 0;
    }
    .img-container {
        min-width: 375px;
        height: 440px;
        margin: 0 auto;
        background: url("../img/bc-img.png") no-repeat center;
        position: relative;
    }
    .design-element {
        background-color: #ED1260;
        width: 265px;
        height: 64px;
        margin-left: auto;
        display: block;
    }
    h2 {
        font-size: 25px;
        text-transform: uppercase;
        position: absolute;
        background-color: #000;
        padding: 41px 31px;
        font-weight: normal;
        top: 8%;
        left: 12px;
    }
    .website {
        color: #fff;
        font-size: 16px;
        top: 37%;
        left: 75px;
        padding: 7px 32px;
        position: absolute;
        background-color: #000;
    }
    .description {
        font-size: 16px;
        margin-left: 17%;
        margin-top: 38px;
        margin-bottom: 67px;
        width: 70%;
    }
    .map img {
        width: 70%;
    }
    .advantages-container {
        display: grid;
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.7fr 1fr 0.5fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .advantage {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 15px;
    }
    .advantage img {
        align-self: center;
        margin-bottom: 14.5px;
    }
    .map {
        margin: 30px auto 63px;
        text-align: center;
        width: 90%;
        border: 5px solid #ED1260;
    }
    .map img {
        padding: 15px 0 5px;
        width: 90%;
    }
    .address {
        font-size: 12px;
        padding-bottom: 10px;
    }
    h1 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        margin-bottom: 21px;
    }
    .info-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .info-card img {
        align-self: center;
        margin-right: 23px;
    }
    .info-card {
        display: flex;
        margin-bottom: 22px;
        justify-content: center;
    }
    .info-card p {
        font-size: 18px;
        line-height: 28px;
    }
    .info-description {
        display: flex;
        flex-direction: column;
        margin-top: -25px;
    }
    .info-description p:first-child {
        visibility: hidden;
    }
    .footer {
        border: 5px solid #F38A03;
        padding: 26px 0;
    }
}

@media (min-width:951px) {
    .header-container {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 8px 0;
    }
    .img-container {
        height: 513px;
        width: 957px;
        margin-left: 147px;
        background: url("../img/bc-img.png") no-repeat center;
        position: relative;
    }
    h2 {
        font-size: 32px;
        text-transform: uppercase;
        background-color: #000;
        padding: 52px 46px;
        font-weight: normal;
        position: absolute;
        top: 16%;
        left: 5%;
    }
    .design-element {
        background-color: #ED1260;
        width: 105px;
        height: 347px;
        position: absolute;
        top: 81.5px;
        left: 1098px;
    }
    .website {
        font-size: 22px;
        position: absolute;
        padding: 14px 55px;
        background-color: #000;
        color: #fff;
        top: 48%;
        left: 12%;
    }
    .description {
        margin: 37px auto 68px;
        width: 932px;
        font-size: 25px;
    }
    .advantages-container {
        display: grid;
        margin: 0 auto;
        width: 955px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .advantage {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 15px;
    }
    .advantage img {
        align-self: center;
        margin-bottom: 15px;
    }
    .map {
        margin: 126px auto 96px;
        text-align: center;
        border: 5px solid #ED1260;
        width: 579px;
    }
    .map img {
        margin: 27px;
    }
    .address {
        font-size: 12px;
        margin-bottom: 18px;
    }
    .info-container {
        display: flex;
        justify-content: space-between;
        margin: 81px auto 0;
        width: 900px;
    }
    .info-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 38px;
    }
    .info-card img {
        margin-bottom: 40px;
    }
    h1 {
        font-size: 45px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 21px;
    }
    .contact-title {
        width: 900px;
        margin: 0 auto;
    }
    .info-description p {
        font-size: 25px;
    }
    .footer {
        padding-bottom: 67px;
    }
}
