.flex-container {
    display: flex;
    border: 1px solid #497ddd;
    background-color:  #497ddd ;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
}
.flex-item {
    border: 1px dashed #ff9933;
    padding: 10px;
    width: 200px;
    height: 250px;
}
.menu {
    background-color: #3d4543;
    height: 30px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
    text-transform: capitalize;
    margin-right: 20px;
    color: #fff;
}
.description {
    font-size: 24px;
    font-weight: 600;
}
.image {
    background-color: #aab1b6;
    width: 350px;
    height: 150px;
}
aside
{
    display: flex;
    flex-direction: column;
}
.heading {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}
.center-content {
    flex-direction: row;
}