ul {
    list-style: none;
    padding-left: 0;
}
.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}
.tabs-title {
    padding: 20px 29px;
    background-color: #3181a6;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    font-size: 20px;
}
.tabs-title:first-child {
    margin-left: 0;
}
.tabs-title.active {
    background-color:#3a4965;
    color: #d2d2d2;
}
.tabs-content {
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 29%;
}
.tab-content {
    display: none;
}
.tab-content.is-open{
    display: block;
}
