.img {
    height: 250px;
    width: 300px;
}
.float-left {
    float: left;
}
.img-wrapper {
    border: 1px #3d4543 solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
.float-right {
    float: right;
}
.clearfix {
    clear:both;
 }
.clear {
    background: #3181a6;
    height: 100px;
    margin-top: 15px;
}
   .clear {
       clear: both;
     }