@import "variables";
@import "mixins";

footer {
  background-color: #000;
  padding-bottom: 60px;
}
.footer-title {
  @include text-style-small;
  color:  #FEFEFE;
  text-align: $textAlignCenter;
  text-transform: $textFormat;
  padding: 40px 0 10px;

}
.footer-text {
  font-size: $textSizeMedium;
  color:$footerTextColor;
  text-align:$textAlignCenter;
  width: 303px;
  margin: 0 auto;
}
.socials {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 26px auto;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  color:$footerTextColor;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  font-size: 14px;
}
.slash {
  margin: 0 6px 0 12px;
}


@media screen and (min-width: 768px) {
  .footer {
    margin-top: 50px;
  }
  .footer-title {
    @include text-style-medium;
    margin-bottom: 10px;
  }
  .footer-text, .contacts {
    font-size: 16px;
  }
  .footer-text {
    width: 680px;
    line-height: 25px;
  }
  .contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 550px;
  }
}