@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

.img-container {
  width: 80%;
  margin: 103px auto 30px ;
}

.img-container img {
  width: 100%;
}

.hidden-menu {
  position: absolute;
  list-style:none;
  padding-left: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 180px;
  background-color: #fff;
  top: 60px;
  transition: left .2s;
  z-index: 2;
  display: none;
}
input {
  display: unset;
  color: unset;
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
  color: #fff;
  background-color: #000;
  padding: 13px;
  position: absolute;
  top: 28px;
  right: 10%;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 17px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 2px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 10%;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 10%;
  display: block;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 4.5px;

}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -4.5px;
}
.header-nav-item {
  list-style: none;
  border-bottom: 2px solid #F5F5F5;
  padding: 4px 0;
  &:hover {
  background-color: #F5F5F5;}
}
.header-nav-link {
  text-decoration: none;
  color: #000;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: $textFormat;

}
.header-nav-link.active {
  color: #57A4A4;
}
.img-box {
  margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
  .hidden-menu {
    position: unset;
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 22px auto;
  }
  .btn-menu {
    display: none;
  }
  .header-nav-item {
    border-bottom: none;
  }
  .img-container {
    margin-top: 0;
  }

}

@media screen and (min-width: 1280px) {
  .hidden-menu {
    visibility: hidden;
  }
  .btn-menu {
    display: none;
  }
}