@import "mixins";
@import "variables";

.wrapper {
  width: 80%;
  margin: 20px auto 0;
}

.post {
  display: flex;
  flex-direction: column;
}
.posts-title {
  text-transform: $textFormat;
  @include text-style-small;
  color: $titleColor;
  margin-bottom: 25px;
}
.post-title {
  text-transform: $textCapitalize;
  @include text-style-small;
  color: $titleColor;
}
.post img {
  margin-bottom: 20px;
}
.comments {
  color: $textColor;
  font-size: $textSizeSmall;
  margin: 14px 0 25px;
}
.post-text {
  display: none;
}
.img-box {
  width: 160px;
  height: 140px;
}

@media screen and (min-width: 768px) {
  .post-text {
    text-transform: $textCapitalize;
    font-size: $textSizeMedium;
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .posts-title {
    margin-top: 56px;
    @include text-style-medium;
  }

  .recent-post {
    display: flex;
    flex-direction: column;
  }
  .post {
    display: flex;
    flex-direction: row;
    width: 580px;
  }
  .post-title {
    @include text-style-medium;
  }
  .post-description {
    margin-left: 20px;
}
  .post-text {
    display: unset;
    visibility: visible;
    font-size: 14px;
  }
  .comments {
    margin-bottom: 14px;
    font-size: $textSizeMedium;;
}
  }

@media screen and (min-width: 1280px){
  .recent-posts {
    display: unset;
  }
  .recent-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .post {
    width: 45%;
    margin-right: 30px;
  }
}