html, body {
    height: 100%;
}
.container {
    background: #ff9933;
    margin: 0 auto;
    width: 1280px;
}
.container {
    margin-top: 0;

}
span {
    border: 1px solid #bccd95 ;
}
p {
    border: 1px #ff4561 solid;
    width: 100px;
}