p body {
    font-family: Arial, sans-serif;
}
{
    margin-top: 0;
    margin-bottom:0;

}
h1 {
    margin-bottom: 2px;
}
h3 {
    margin-top: 1px;
    color:darkgrey;
    font-style: italic;
   }
h1 strong {
    font-weight:700;
}