body {
    background-color: #000;
    color:#fff;
}
.test-mouse {
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    border: 1px solid #ff4561;

}
.test-mouse:first-letter {
    color:red}
.test-mouse:hover {
    cursor: pointer;
    background-color: #16a085;
    color: green;
}
.some-list>li:nth-child(2n)
{
    background-color: #ff9933;
    color:#3d4543;
}

