﻿.redOutline {
    outline: red 2px solid;
}
input {
    width: 150px;
    height: 20px;
}
input:focus {
    outline: green 2px solid;
}

.content {
    margin-top: 15px;
}
span {
    display: inline-block;
    padding: 10px 20px ;
    font-size: 15px;
    line-height: 15px;
    border: 1px solid #524a4a;
    border-radius: 20px;
    cursor: pointer;
}
span::after {
    border: 1px solid #d2d2d2;
    border-radius: 40px;
    content: 'x';
    margin-left: 20px;
    padding: 2px 5px;
}
