body {
    width: 100%;
}
.container {
    background-color: #000;
    border: 1px solid #000;
    }

.center {
    width: 40%;
    border: 1px solid silver;
    height: 300px;
    background-color: silver;
}
.center:before {
    content: '';
    height: 300px;
    width: 25%;
    background-color: red;
    display: block;
    border: 1px solid red;
}

.center:after  {
    content: '';
    height: 150px;
    width: 15%;
    display: block;
    background-color: silver;
    border: 1px solid silver;
}
