.container {
    display: flex;
    height: 200px;
}
.container> div {
    border: 1px solid #16a085;
    box-sizing:border-box;
}
.left-content, .right-content {
    width: 30%;
}
.center-content {
    width: 40%;
}
