html, body {
    width: 100%;
}
body {
    background: url("../img/merry-christmas.jpg") center top / cover;
}
.container {
    margin: 0 auto;
    height: 720px;
}
.authorization-form {
    margin: 50px auto;
    padding-top: 50px;
    width: 400px;
    height: 500px;
    background-color: #000;
    border-radius: 20px;
}
.sign-up {
    font-size: 26px;
    padding-left: 25px;
    color: #fff;
}