
html, body {
    width: 100%;
}
.container> div {
    border: 1px solid #16a085;
    box-sizing:border-box;
}
.left-content, .right-content {
    width: 30%;
}
.left-content {
    float: left;
}
.center-content {
    width: 40%;
    float: left;
}
.right-content {
    float: right;
}
