table {
    width: 800px;
    border-collapse: collapse;
    background-color: #16a085;
   }
td, th {
    border: 1px solid blue;
    padding: 20px;
}
td {
    padding-left:  15px;
}
th:nth-child(even), td:nth-child(even) {
    background-color: #ff4561;
}