@import "variables";
@import "mixins";

footer {
  background-color: #000;
}
.footer-title {
  @include text-style-small;
  color:  #FEFEFE;
}
.footer-text {
  font-size: 12px;
  color:$footerTextColor;
  text-transform: $textFormat;
}
.contacts {
  color:$footerTextColor;
}