@import "mixins";
@import "variables";

body {
  font-family: 'Roboto', sans-serif;
}
.hamburger {
  --thickness: 3px;
  display: inline-block;
  border: none;
  padding: 0 5px;
  background: rgba(100, 100, 30, .6);
  line-height: 40px;

  &.span {
    position: relative;
    vertical-align: middle;
  }

  &.span,
  &.span::after,
  &.span::before {
    display: inline-block;
    width: 30px;
    height: var(--thickness);
    background: black;
  }

  &.span::after,
  &.::before {
    content: '';
    position: absolute;
    right: 0;
  }

  &.span::before {
    top: -10px;
  }

  &.span::after {
    bottom: -10px;
  }

}

.navigation {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  transform: translateX(-100%);
  transition: transform 200ms;

  &:target {
    transform: translateX(0);
  }
}

.header-nav-link {
  text-decoration: none;
  text-transform: $textFormat;
  &:active {
    color: #57A4A4;
  }
}
