@import "mixins";
@import "variables";

.posts-title {
  text-transform: $textFormat;
  @include text-style-small;
  color: $titleColor;
}
.post-title {
  text-transform: $textCapitalize;
  @include text-style-small;
  color: $titleColor;
}
.comments {
  color: $textColor;
  font-size: $textSize;
}
.post-text {
  text-transform: $textCapitalize;
  font-size: $textSize;
}
