* {
    margin: 0;
    padding: 0;
}
.startAgain {
    border: 2px solid #3181a6;
    margin-left: 45%;
    width: 150px;
    height: 40px;
    margin-top: 25px;
}
.field {
    width: 700px;
    height: 450px;
    border: 3px solid black;
    background-color: green;
    display: flex;
    margin: 100px auto;
    position: relative;
}
.leftGuard, .rightGuard {
    width: 50px;
    height: 200px;
    border: 2px solid #3d4543;
    position: absolute;
    margin-top: 125px;
}
.leftGuard {
    margin-left: -54px;
}
.rightGuard {
    margin-left: 700px;
}
.field .leftSide {
    width: 50%;
    border-right: 2px solid #fff;
}
.ball {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 315px;
    margin-top: 185px;
}