.container {
    margin: 0 auto;
    border: 1px solid #ff9933;
    width: 900px;
}
header, footer, main, section {
    border: 1px solid #ff4561;
    padding: 5px;
    margin: 5px;
}
main {
    width: 100%;
}
section {
    background: #3181a6;
}
aside {
    background: yellow;
}
.left-aside {
    float: left;
    width: 30%;
    height: 100%;
}
.content {
    width: 65%;
}
footer {
    background: palevioletred;
clear: both;
}