.container {
    display: grid;
    grid-template-columns: 30% 39% 30%;
    grid-gap: 10px;
    grid-template-rows: 200px 50px auto 100px 200px;
}
.container > div {
    border: 1px solid #3a4965;

}
