ul>li {
    display: inline-block;
}
ul>li {
cursor: pointer;
}
.tab-container >div {
    display: none;
}
.tab-container >div:not:first-child {
    display: none;
}
.active {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
}