*{
    box-sizing: border-box;
    margin: 0;
}
.container {
    width: fit-content;
    min-width: 320px;
    height: fit-content;
    min-height: 200px;
    margin: 25px auto;
    border-left: 10px solid rgb(40, 40, 240);
    border-right: 10px solid rgb(40, 40, 240);
    border-bottom: 15px solid rgb(40, 40, 240);
    border-top: 15px solid rgb(40, 40, 240);
}

.container-body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color:#e2e4e6;
    height: fit-content;
    min-height: 200px;
}

.container-header {
    height: 50px;
    width: 100%;
    background-color: #e2e4e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.cards-body {
    width: 95%;
    min-height: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: 2px;
    background-color: white;
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}

.card-content {
    width: 100%;
    height: fit-content;
    min-height: 15px;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0;
}

.column {
    width: 100%;
    min-width: 300px;
    height: fit-content;
    min-height: 150px;
    background-color: #afafaf;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 10px;
}

.column-header, .column-footer  {
    width: 95%;
    margin: 10px 0;
}

.column-footer {
    margin-top: 0;
}

.create-card-btn, .create-new-col-btn, .sort-btn {
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}




