.container {
    border: 1px solid #ff4561;
    padding: 5px;
}
.container fieldset {
border: none;
}

.i-forms, .form-groups input {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px;

}